<h1>List of Students</h1>

<div id="students">
  <% if @students.any? %>
    <% @students.each do |student| %>
      <%= render student %>
      <p>
        <%= link_to "Show this student", student %>
      </p>
    <% end %>
  <% end %>  
</div>
