<% content_for :title, "New Submission for course" %>

<h1>New Submission for <%= @course.title %></h1>

<%= render "form", submission: @submission, course: @course %>

<br>

<%= link_to "Back to Submittions", course_submissions_path(@course) %>